{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>

    <title>Коропоративный портал ЗАО "АТМ-Сервис"</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  
  <body>
    🔑 {{user.first_name}} {{user.last_name}}<br>
    <portal-app>Загрузка...</portal-app>

    <script type="text/javascript" src="{% static 'ng2/dist/polyfills.js' %}"></script>
    <script type="text/javascript" src="{% static 'ng2/dist/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'ng2/dist/app.js' %}"></script>

  </body>

</html>
